[Unit]
Description=CM4all spawn
After=network.target
After=dbus.service
Requires=dbus.service

[Service]
Type=notify
ExecStart=/usr/sbin/cm4all-spawn
KillMode=process
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

Slice=system-cm4all.slice

[Install]
WantedBy=multi-user.target
