[Unit]
Description=CM4all spawn reaper

[Service]
Type=notify
ExecStart=/usr/sbin/cm4all-spawn-reaper
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

Slice=system-cm4all.slice

User=cm4all-spawn-reaper

# This allows the kernel to merge CPU wakeups, the default of 50ns is
# too fine.
TimerSlackNSec=100ms

LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
