[Unit]
Description=CM4all spawn
After=network.target
After=dbus.service
Requires=dbus.service

[Service]
Type=notify
ExecStart=/usr/sbin/cm4all-spawn
KillMode=process
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

Slice=system-cm4all.slice

# This allows the kernel to merge CPU wakeups, the default of 50ns is
# too fine.
TimerSlackNSec=100ms

LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
