Source: cm4all-spawn
Section: admin
Priority: optional
Maintainer: Max Kellermann <max.kellermann@ionos.com>
Build-Depends: debhelper (>= 13.3~),
 meson (>= 1.2),
 g++ (>= 4:12),
 libfmt-dev (>= 9),
 libsystemd-dev,
 libcap-dev,
 libseccomp-dev,
 libpq-dev,
 libluajit-5.1-dev,
 python3-sphinx
Standards-Version: 4.0.0
Vcs-Browser: https://github.com/CM4all/spawn
Vcs-Git: git://github.com/CM4all/spawn

Package: cm4all-spawn-accessory
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 systemd-sysv (>= 233~),
 cm4all-slice (>= 0.2)
Replaces: cm4all-spawn
Description: Process spawner helper daemon
 cm4all-spawn is a daemon which provides services to other daemons
 wishing to spawn child processes.

Package: cm4all-spawn-reaper
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 systemd-sysv (>= 233~),
 cm4all-slice (>= 0.2)
Replaces: cm4all-spawn
Description: cgroup reaper daemon
 cm4all-spawn-reaper is a daemon which reaps empty cgroups and may
 optionally collect resource usage statistics.

Package: cm4all-spawn-netns
Architecture: all
Depends: ${misc:Depends}, systemd-sysv
Description: Network namespace service
 This package provides a systemd service which sets up a simple
 network namespace connected with the root namespace over a pair of
 "veth" devices.

Package: cm4all-slice
Architecture: all
Depends: ${misc:Depends}, systemd-sysv
Description: systemd slice for CM4all services
 This package provides a systemd slice which can be used by CM4all
 services.

Package: cm4all-spawn-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Description: Documentation for cm4all-spawn
 cm4all-spawn is a daemon which provides services to other daemons
 wishing to spawn child processes.
 .
 This package provides documentation.
